body {
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: #000;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #fff;
}
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1110px;
}
.header {
  background-image: linear-gradient(0, #000000 0%, rgba(0, 0, 0, 0) 15%),  url(../images/bg-welcome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // position: relative;
  // &::after {
  //   background-image: url(../images/group-1.svg);
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   width: 100%;
  //   z-index: 10;
  // }
}
.logo {
  margin-right: 30px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 70px 70px;
  align-items: center;
  &__box {
    display: flex;
  }
  &__list {
    display: flex;
    gap: 0 25px;
  }
  &__social {
    display: flex;
    gap: 0 35px;
  }
  &__link {
    transition: all .3s;
    &:hover {
      color: #C2E978;
    }
  }
}
.social__link-icon {
  transition: fill .3s ease;
  fill: #fff;
  &:hover {
    fill: #C2E978;
  }

}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
  &-to {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    color: #C2E978;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.05em;
    margin: 0 0 8px 0;
  }
  &__subtitle {
    font-family: 'Patrick Hand', cursive;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #C2E978;
    text-transform: uppercase;
    margin: 0;
    padding-top: 8px;
    &--big {
      font-family: 'Patrick Hand', cursive;
      text-transform: uppercase;
      font-size: 48px;
      line-height: 46px;
      }
      &-span {
        color: #fff;
        }
  }
  &__text {
    font-size: 26px;
    line-height: 38px;
    max-width: 745px;
    margin: 16px 0 80px 0;
    &--big {
      position: relative;
      &::after {
        content: "";
        width: 150px;
        height: 100px;
        background-image: url(../images/header-line.svg);
        position: absolute;
        background-repeat: no-repeat;
        top: 105px;
        left: 345px;
      }
    }
  }
    &__text {
    font-size: 26px;
    line-height: 38px;
    &--smaller {
      font-size: 20px;
      line-height: 32px;
      max-width: 560px;
      margin: 12px 0 60px 0;
      }
  }
}
.tree {
  background-image: url(../images/tree-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 59px;
  &__box {
    display: flex;
    align-items: center;
    padding: 0 56px 0 36px;
    height: 335px;
    &-wrapper {
      background-image: url(../images/Vector.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      padding: 15px;
      min-width: 315px;
    }
    &-subscribe {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-text--title {
      font-family: 'Patrick Hand', cursive;
      text-transform: uppercase;
      font-size: 35px;
      line-height: 42px;
      letter-spacing: 0.05em;
      margin-bottom: 5px;
    }
    &-text--subtitle {
      font-family: 'Patrick Hand', cursive;
      text-transform: uppercase;
      font-size: 42px;
      line-height: 44px;
      letter-spacing: 0.05em;
      color: #C2E978;
      margin: 0;
      margin-left: 10px;
    }
    &-subscribe--text {
      font-size: 25px;
      line-height: 32px;
      text-align: right;
      margin-bottom: 24px;
    }
  }
  &__btn {
    background-color: #C2E978;
    border-radius: 10px;
    padding: 20px 34px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #08162B;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
    letter-spacing: 0.07em;
    transition: all .3s;
    display: flex;
    align-self: self-end;
    &:hover {
      background-color: #08162B;
      color: #C2E978;
    }
  }
}
.parameters {
 padding: 48px 0 60px 0;
  &__title {
   font-family: "Patrick Hand", cursive;
   text-transform: uppercase;
   font-size: 40px;
   line-height: 46px;
   text-align: center;
   letter-spacing: 0.05em;
   margin: 0;
   padding-bottom: 25px;
 }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    &-inner {
      background-color: #191D2E;
      padding: 32px 24px;
    }
  }
  &__name {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #C2E978;
    padding-bottom: 4px;
    margin: 0;
  }
  &__text {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
  }
}
.token {
  padding: 0 0 50px 0;
  &__title {
    margin: 0;
    padding-bottom: 25px;
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    position: relative;
    & span {
      color: #C2E978;
    }
    &::after {
      content: "";
      background-image: url(../images/token-star.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 50px;
      height: 50px;
      left: 80px;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    &-inner {
      background-color: #191D2E;
      padding: 35px 24px 32px 24px;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 28px;
    padding-top: 12px;
    margin: 0;
  }
}
.formula {
  padding: 0 0 140px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 26px;
  }
  &__title {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin: 0;
  }
  &__subtitle {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 39px;
    letter-spacing: 0.05em;
    color: #C2E978;
    margin: 0;
    text-align: center;
    position: relative;
    &::after {
      content: "";
      background-image: url(../images/formula-arrow.svg);
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 15px;
      left: 93%;
    }
  }
  &__token {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-align: center;
    &-area {
      margin: 0;
    }
    &-area--line {
      border-bottom: 1px solid #fff;
    }
    &-number {
      margin: 0;
    }
  }
  &__background {
    display: flex;
    position: relative;
    align-items: center;
    background: linear-gradient(180deg, #10121D 0%, #191D2E 100%);
    padding: 42px 42px 50px 32px;
    margin-bottom: 25px;
    &-adaptive {
      display: flex;
    }
    &-wrap,
    &-text {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-align: center;
    padding-right: 15px;
    & span {
      color: #C2E978;
      font-size: 43px;
      position: relative;
      &::after {
        content: "";
        background-image: url(../images/formula-line.svg);
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50px;
        left: 5%;
      }
    }
    }
    &-eur {
      padding: 0 0 11px 0;
      margin: 0;
    }
    &-number {
      margin: 13px 0 0 0;
    }
  }
  &__btn {
    position: absolute;
    right: 40px;
    padding: 34px 80px;
    font-size: 16px;
  }
  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-wrapper {
      display: flex;
      padding-bottom: 10px;
    }
    &-text {
      margin: 0;
      padding-left: 12px;
      font-size: 15px;
      line-height: 24px;
      opacity: 0.7;
    }
  }
}
.collection  {
  padding-bottom: 150px;
  &__box {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    &-wrapper {
      background-image: url(../images/vector-2.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      padding: 40px;
      min-width: 200px;
    }
    &-title {
      font-family: "Patrick Hand", cursive;
      text-transform: uppercase;
      font-size: 48px;
      line-height: 46px;
      letter-spacing: 0.05em;
      position: relative;
      & span {
        color: #C2E978;
        font-size: 53px;
        line-height: 65px;
        margin-left: 15px;
      }
      &::after {
        content: "";
        background-image: url(../images/collection-star.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -10px;
        left: 90%;
      }
    }
  }
  &__text {
    font-size: 20px;
    line-height: 28px;
    max-width: 645px;
    padding-left: 100px;
    margin: 0;
  }
  &__picture {
    display: flex;
    gap: 10px;
    &-img {
      width: 100%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-text {
      font-size: 20px;
      line-height: 28px;
      padding : 25px 0 16px 0;
      margin: 0;
    }
    &-btn {
      align-self: center;
      font-size: 17px;
      line-height: 21px;
    }
  }
}
.airdrop {
  padding-bottom: 85px;
  &__title {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: center;
    padding-bottom: 25px;
    margin: 0;
    position: relative;
    &::after {
      content: "";
      background-image: url(../images/airdrop-highlight.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 100px;
      height: 100px;
      top: -10px;
    }
  }
  &__text {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    flex-wrap: wrap;
    &-img {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background-image: url(../images/airdrop-line.svg);
        background-repeat: no-repeat;
        width: 150px;
        height: 50px;
      }
    }
    &-text {
      margin: 0;
      &--first {
        padding-top: 38px;
        margin: 0;
      }
      &--second {
        padding-top: 23px;
        margin: 0;
      }
      &--third {
        padding-top: 7px;
        margin: 0;
      }
      &--fourth {
        padding-top: 52px;
        margin: 0;
      }
    }
    &-item {
      font-family: "Patrick Hand", cursive;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      &--first {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-image: url(../images/airdrop-line.svg);
          background-repeat: no-repeat;
          width: 150px;
          height: 50px;
          top: 65px;
          left: 130%;
        }
      }
      &--second {
        line-height: 39px;
        font-size: 32px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          background-image: url(../images/airdrop-line.svg);
          background-repeat: no-repeat;
          width: 150px;
          height: 50px;
          top: 80px;
          left: 130%;
        }
      }
      &--third {
        font-size: 40px;
        line-height: 49px;
        position: relative;
         &::after {
          content: "";
          position: absolute;
          background-image: url(../images/airdrop-line.svg);
          background-repeat: no-repeat;
          width: 150px;
          height: 50px;
          top: 100px;
          left: 130%;
         }
      }
    }
  }
}
.tokenomics {
  background: linear-gradient(180deg, #131624 0%, #191D2E 100%);
  padding: 65px 97px 57px 70px;
  display: flex;
  height: 250px;
  &__title {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin: 0;
    position: relative;
    &::after {
      content: "";
      background-image: url(../images/collection-star.svg);
      position: absolute;
      width: 100px;
      height: 50px;
      background-repeat: no-repeat;
      left: -15px;
      top: -10px;
    }
  }
  &__box {
    font-size: 20px;
    padding-left: 30px;
  }
  &__text {
    line-height: 28px;
    margin: 0;
    padding-bottom: 30px;
  }
  &__list {
    padding: 0;
    margin: 0;
    &-item {
      display: flex;
      &:not(last-child) {
        padding-bottom: 16px;
      }
    }
    &-text {
      line-height: 24px;
      padding-left: 12px;
      margin: 0;
    }
  }
  &__second {
    line-height: 28px;
    padding-top: 16px;
    margin: 0;
  }
}
.traces {
  position: relative;
  bottom: 120px;
  width: 100%;
  z-index: -1;
}
.roadmap {
  margin-left: 144px;
  position: relative;
  bottom: 245px;
  &__title {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 0.05em;
    padding: 0 0 24px 60px;
    margin: 0;
    position: relative;
    &::after {
      content: "";
      background-image: url(../images/collection-star.svg);
      position: absolute;
      width: 100px;
      height: 50px;
      background-repeat: no-repeat;
      left: 45px;
      top: -5px;
    }
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    &-inner {
      background: linear-gradient(180deg, #10121D 0%, #191D2E 100%);
      width: 274px;
      padding: 37px 24px 84px 24px;
      &:hover {
        background: linear-gradient(180deg, rgba(1, 55, 66, 0.4) 0%, rgba(7, 126, 76, 0.4) 100%);
        .roadmap__box-inner--svg {
          fill: #C2E978;
        }
        .roadmap__box-inner--text {
          color: #fff;
        }
      }
    }
     &-svg {
      fill: #7E839A;
    }
    &-text {
      font-size: 20px;
      line-height: 28px;
      color: #7E839A;
      margin: 0;
      padding-top: 15px;
    }
  }
}
.team {
  padding-bottom: 98px;
  &__title {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
  }
  &__box {
    display: flex;
    gap: 20px;
    align-items: baseline;
    justify-content: center;
    &-inner {   
      min-width: 220px;
      text-align: center;
    }
    &-name {
      font-family: "Patrick Hand", cursive;
      text-transform: uppercase;
      font-size: 28px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em;
      margin: 0;
      padding: 20px 0 12px 0;
    }
    &-text {
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #888D9D;
      margin: 0;
    }
  }
}
.footer {
  padding-bottom: 50px;
  font-family: "Patrick Hand", cursive;
  text-transform: uppercase;
  &__box {
    background: linear-gradient(180deg, #201841 0%, #2C205D 100%);
    display: flex;
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 80px;
    }
    &-text {
      font-size: 34px;
      line-height: 30px;
      letter-spacing: 0.05em;
      margin: 0;
    }
    &-title {
      font-size: 38px;
      line-height: 44px;
      letter-spacing: 0.05em;
      color: #C2E978;
      margin: 0;
      position: relative;
      &::after {
        content: "";
        background-image: url(../images/airdrop-highlight.svg);
        position: absolute;
        width: 100px;
        height: 50px;
        background-repeat: no-repeat;
      }
    }
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 70px;
    &-link {
      transition: fill 0.3s ease;
      fill: #C2E978;
      &:hover {
        fill: #fff;
      }
    }
  }
  &__text {
    text-align: center;
    padding-top: 80px;
    margin: 0;
    font-size: 17px;
    line-height: 21px;  
    letter-spacing: 0.05em;
  }
}

#menu__toggle {
  visibility: hidden;
}

@media (max-width: 1200px) {
  .collection__picture-img {
    max-width: 100%;
  }
}
@media (max-width: 1120px) {
  #menu__toggle{
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 60px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #C2E978;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: #191D2E;
    align-items: center;
    justify-content: center;
  }
  .menu__item {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    line-height: 51px;
    margin-right: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
    height: 100vh;
    position: absolute;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: .25s;
  }
  .menu__item {
    transition-duration: .25s;
  } 
  .logo {
    z-index: 1;
  }
  .welcome__text {
    position: inherit;
  }
  .welcome__text--big::after,
  .token__title::after,
  .collection__box-title::after {
    display: none;
  }
  .navigation__social {
    position: relative;
  }
  .tree__box {
    padding: 0 30px;
    justify-content: space-between;
    &-subscribe {
      max-width: 340px;
    }
    &-wrapper {
      max-width: 340px;
    }
  }
  .tree__img,
  .formula__subtitle::after,
  .formula__background-text span::after {
    display: none;
  }
  .formula__title {
    font-size: 36px;
    line-height: 42px;
  }
  .formula__btn {
    padding: 30px 60px;
  }
  .formula__background-wrap, 
  .formula__background-text {
    font-size: 28px;
  }
}
@media (max-width: 950px) {
  .formula {
    padding-bottom: 30px;
    &__background {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: baseline;
    }
  }
  .formula__background-wrap,
  .formula__background-text {
    font-size: 24px;
  }
  .formula__background-wrap span, .formula__background-text span {
    font-size: 28px;
  }
  .formula__btn {
    padding: 30px 50px;
}
}
@media (max-width: 800px) {
  .tree {
    margin: 0;
    &__box {
      padding: 0 20px;
      margin-top: 30px;
    &-subscribe {
      max-width: 260px;
      &--text {
        font-size: 20px;
        line-height: 26px;
      }
    }
    &-wrapper {
      max-width: 300px;
    }
    &-text--title {
      font-size: 32px;
      line-height: 36px;
    }
    &-text--subtitle {
      font-size: 36px;
      line-height: 38px;
    }
    }
  }
  .formula__background-adaptive {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formula__btn {
    position: static;
  }
}
@media (max-width: 670px) {
  .tree__box {
    display: block;
    &-wrapper {
      padding: 5px;
      max-width: 250px;
      margin-bottom: 15px;
    }
    &-subscribe {
      margin: 0 auto;
      max-width: 100%;
      padding-bottom: 10px;
    }
    &-text--title {
      font-size: 28px;
      line-height: 32px;
    }
    &-text--subtitle {
      font-size: 32px;
      line-height: 34px;
    }
  }
  .parameters {
    padding: 38px 0 50px 0;
    &__title {
      font-size: 32px;
      line-height: 40px;
    }
    &__name {
      font-size: 28px;
      line-height: 36px;
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
    &__wrapper-inner {
      padding: 28px 20px;
    }
  }
  .token__title,
  .formula__title,
  .formula__subtitle {
    font-size: 32px;
    line-height: 40px;
  }
  .token__wrapper-inner {
    padding: 20px;
  }
  .token__text {
    font-size: 16px;
    line-height: 24px;
  }
  .formula__token {
    font-size: 20px;
    line-height: 22px;
  }
  .formula__background-wrap,
  .formula__background-text {
    font-size: 20px;
  }
  .tree__btn {
    padding: 20px 34px;
  }
}
@media (max-width: 590px) {
  .menu__btn {
    right: 60px;
  }
  .menu__item {
    margin: 5px;
    padding: 0;
  }
  .welcome {
    padding: 0 10px;
    &__title-img {
      width: 100%;
    }
    &__text {
      font-size: 18px;
      margin: 10px 0;
    }
  }
  .welcome-to,
  .welcome__subtitle {
    font-size: 24px;
  }
  .navigation {
    display: block;
    padding-bottom: 20px;
    &__social {
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }
  }
  .token__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .formula__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .formula__token {
    align-self: self-end;
  }
  .formula__background {
    padding: 20px;
  }
}
@media (max-width: 435px) {
  .welcome__subtitle {
    font-size: 20px;
    line-height: 32px;
 }
 .welcome__text {
    font-size: 14px;
    line-height: 28px;
    margin: 15px 0;
 }
 .tree__box-text--title {
  font-size: 20px;
  line-height: 32px;
  margin: 0;
 }
 .tree__box-text--subtitle {
  font-size: 26px;
  line-height: 36px;
 }
 .tree__box-subscribe,
 .parameters__text {
   font-size: 14px;
   line-height: 24px;
 }
 .tree__btn {
  padding: 16px 30px;
 }
 .tree__box-wrapper {
  min-width: 255px;
 }
 .parameters__title,
 .token__title,
 .formula__title,
 .formula__subtitle {
  font-size: 26px;
  line-height: 34px;
 }
 .parameters__wrapper {
  display: flex;
  flex-direction: column;
 }
 .parameters__name {
  font-size: 24px;
  line-height: 32px;
 }
 .formula__token {
  font-size: 16px;
  line-height: 24px;
 }
 .formula__icon-text {
  font-size: 14px;
  line-height: 18px;
 }
}