body {
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  background-color: #000;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #fff;
}
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1110px;
}
.header {
  background-image: linear-gradient(0, #000000 0%, rgba(0, 0, 0, 0) 15%),  url(../images/bg-welcome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // position: relative;
  // &::after {
  //   background-image: url(../images/group-1.svg);
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   width: 100%;
  //   z-index: 10;
  // }
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 70px 70px;
  align-items: center;
  &__box {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    gap: 0 25px;
  }
  &__social {
    display: flex;
    gap: 0 35px;
  }
  &__link {
    transition: all .3s;
    &:hover {
      color: #C2E978;
    }
  }
}
.social__link-icon {
  transition: fill .3s ease;
  fill: #fff;
  &:hover {
    fill: #C2E978;
  }

}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400;
  &-to {
    font-family: 'Patrick Hand', cursive;
    text-transform: uppercase;
    color: #C2E978;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.05em;
    margin: 0 0 8px 0;
  }
  &__subtitle {
    font-family: 'Patrick Hand', cursive;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #C2E978;
    text-transform: uppercase;
    margin: 0;
    padding-top: 8px;
    &--big {
      font-family: 'Patrick Hand', cursive;
      text-transform: uppercase;
      font-size: 48px;
      line-height: 46px;
      }
      &-span {
        color: #fff;
        }
  }
  &__text {
    font-size: 26px;
    line-height: 38px;
    width: 745px;
    margin: 16px 0 80px 0;
    &--big {
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(../images/header-line.svg);
        position: absolute;
        background-repeat: no-repeat;
        top: 105px;
        left: 345px;
      }
    }
  }
    &__text {
    font-size: 26px;
    line-height: 38px;
    &--smaller {
      font-size: 20px;
      line-height: 32px;
      width: 560px;
      margin: 12px 0 60px 0;
      }
  }
}
.tree {
  background-image: url(../images/tree-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 59px;
  &__box {
    display: flex;
    align-items: center;
    padding: 0 56px 0 36px;
    height: 335px;
    &-wrapper {
      background-image: url(../images/Vector.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      padding: 15px;
      min-width: 312px;
    }
    &-subscribe {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-text--title {
      font-family: 'Patrick Hand', cursive;
      text-transform: uppercase;
      font-size: 35px;
      line-height: 42px;
      letter-spacing: 0.05em;
      margin-bottom: 5px;
    }
    &-text--subtitle {
      font-family: 'Patrick Hand', cursive;
      text-transform: uppercase;
      font-size: 42px;
      line-height: 44px;
      letter-spacing: 0.05em;
      color: #C2E978;
      margin: 0;
      margin-left: 10px;
    }
    &-subscribe--text {
      font-size: 25px;
      line-height: 32px;
      text-align: right;
      margin-bottom: 24px;
    }
  }
  &__btn {
    background-color: #C2E978;
    border-radius: 10px;
    padding: 20px 34px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #08162B;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
    letter-spacing: 0.07em;
    transition: all .3s;
    display: flex;
    align-self: self-end;
    &:hover {
      background-color: #08162B;
      color: #C2E978;
    }
  }
}
.parameters {
 padding: 48px 0 60px 0;
  &__title {
   font-family: "Patrick Hand", cursive;
   text-transform: uppercase;
   font-size: 40px;
   line-height: 46px;
   text-align: center;
   letter-spacing: 0.05em;
   margin: 0;
   padding-bottom: 25px;
 }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    &-inner {
      background-color: #191D2E;
      padding: 32px 24px;
    }
  }
  &__name {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #C2E978;
    padding-bottom: 4px;
    margin: 0;
  }
  &__text {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
  }
}
.token {
  padding: 0 0 50px 0;
  &__title {
    margin: 0;
    padding-bottom: 25px;
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    position: relative;
    & span {
      color: #C2E978;
    }
    &::after {
      content: "";
      background-image: url(../images/token-star.svg);
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 100%;
      right: -80px;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    &-inner {
      background-color: #191D2E;
      padding: 35px 24px 32px 24px;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 28px;
    padding-top: 12px;
    margin: 0;
  }
}
.formula {
  padding: 0 0 140px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-bottom: 26px;
  }
  // &__text {
  //   font-family: "Patrick Hand", cursive;
  //   text-transform: uppercase;
  //   font-size: 40px;
  //   letter-spacing: 0.05em;
  // }
  // &__title {
  //   line-height: 46px;
  //   margin: 0;
  // }
  // &__subtitle {
  //   line-height: 39px;
  //   color: #C2E978;
  //   margin: 0;
  // }
  &__title {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin: 0;
  }
  &__subtitle {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 39px;
    letter-spacing: 0.05em;
    color: #C2E978;
    margin: 0;
    text-align: center;
    position: relative;
    &::after {
      content: "";
      background-image: url(../images/formula-arrow.svg);
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 15px;
      left: 93%;
    }
  }
  &__token {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-align: center;
    &-area {
      margin: 0;
    }
    &-area--line {
      border-bottom: 1px solid #fff;
    }
    &-number {
      margin: 0;
    }
  }
  &__background {
    display: flex;
    position: relative;
    align-items: center;
    background: linear-gradient(180deg, #10121D 0%, #191D2E 100%);
    padding: 42px 42px 50px 32px;
    margin-bottom: 25px;
    &-wrap,
    &-text {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-align: center;
    padding-right: 15px;
    & span {
      color: #C2E978;
      font-size: 43px;
      position: relative;
      &::after {
        content: "";
        background-image: url(../images/formula-line.svg);
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50px;
        left: 5%;
      }
    }
    }
    &-eur {
      padding: 0 0 11px 0;
      margin: 0;
    }
    &-number {
      margin: 13px 0 0 0;
    }
  }
  &__btn {
    position: absolute;
    right: 40px;
    padding: 34px 80px;
    font-size: 16px;
  }
  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-wrapper {
      display: flex;
      padding-bottom: 10px;
    }
    &-text {
      margin: 0;
      padding-left: 12px;
      font-size: 15px;
      line-height: 24px;
      opacity: 0.7;
    }
  }
}
.collection  {
  padding-bottom: 150px;
  &__box {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    &-wrapper {
      background-image: url(../images/vector-2.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      padding: 40px;
      min-width: 200px;
    }
    &-title {
      font-family: "Patrick Hand", cursive;
      text-transform: uppercase;
      font-size: 48px;
      line-height: 46px;
      letter-spacing: 0.05em;
      & span {
        color: #C2E978;
        font-size: 53px;
        line-height: 65px;
        margin-left: 15px;
      }
    }
  }
  &__text {
    font-size: 20px;
    line-height: 28px;
    max-width: 645px;
    padding-left: 100px;
    margin: 0;
  }
  &__picture {
    display: flex;
    gap: 10px;
    &-img {
      width: 100%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-text {
      font-size: 20px;
      line-height: 28px;
      padding : 25px 0 16px 0;
      margin: 0;
    }
    &-btn {
      align-self: center;
      font-size: 17px;
      line-height: 21px;
    }
  }
}
.airdrop {
  padding-bottom: 85px;
  &__title {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: center;
    padding-bottom: 25px;
    margin: 0;
  }
  &__text {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
    flex-wrap: wrap;
    // &-img::after {
    //   content: "";
    //   position: absolute;
    //   width: 10px;
    //   height: 10px;
    //   background-color: #fff;
    // }
    &-text {
      margin: 0;
      &--first {
        padding-top: 38px;
        margin: 0;
      }
      &--second {
        padding-top: 23px;
        margin: 0;
      }
      &--third {
        padding-top: 7px;
        margin: 0;
      }
      &--fourth {
        padding-top: 52px;
        margin: 0;
      }
    }
    &-item {
      font-family: "Patrick Hand", cursive;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      // position: relative;
      &--second {
        line-height: 39px;
        font-size: 32px;
      }
      &--third {
        font-size: 40px;
        line-height: 49px;
      }
    }
  }
}
.tokenomics {
  background: linear-gradient(180deg, #131624 0%, #191D2E 100%);
  padding: 65px 97px 57px 70px;
  display: flex;
  height: 250px;
  &__title {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin: 0;
  }
  &__box {
    font-size: 20px;
    padding-left: 30px;
  }
  &__text {
    line-height: 28px;
    margin: 0;
    padding-bottom: 30px;
  }
  &__list {
    padding: 0;
    margin: 0;
    &-item {
      display: flex;
      &:not(last-child) {
        padding-bottom: 16px;
      }
    }
    &-text {
      line-height: 24px;
      padding-left: 12px;
      margin: 0;
    }
  }
  &__second {
    line-height: 28px;
    padding-top: 16px;
    margin: 0;
  }
}
.traces {
  position: relative;
  bottom: 120px;
  width: 100%;
  z-index: -1;
}
.roadmap {
  margin-left: 144px;
  position: relative;
  bottom: 245px;
  &__title {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 0.05em;
    padding: 0 0 24px 60px;
    margin: 0;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    &-inner {
      background: linear-gradient(180deg, #10121D 0%, #191D2E 100%);
      width: 274px;
      padding: 37px 24px 84px 24px;
      &:hover {
        background: linear-gradient(180deg, rgba(1, 55, 66, 0.4) 0%, rgba(7, 126, 76, 0.4) 100%);
        .roadmap__box-inner--svg {
          fill: #C2E978;
        }
        .roadmap__box-inner--text {
          color: #fff;
        }
      }
    }
     &-svg {
      fill: #7E839A;
    }
    &-text {
      font-size: 20px;
      line-height: 28px;
      color: #7E839A;
      margin: 0;
      padding-top: 15px;
    }
  }
}
.team {
  padding-bottom: 98px;
  &__title {
    font-family: "Patrick Hand", cursive;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 46px;
    letter-spacing: 0.05em;
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
  }
  &__box {
    display: flex;
    gap: 20px;
    align-items: baseline;
    justify-content: center;
    &-inner {   
      min-width: 220px;
      text-align: center;
    }
    &-name {
      font-family: "Patrick Hand", cursive;
      text-transform: uppercase;
      font-size: 28px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.02em;
      margin: 0;
      padding: 20px 0 12px 0;
    }
    &-text {
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #888D9D;
      margin: 0;
    }
  }
}
.footer {
  padding-bottom: 50px;
  font-family: "Patrick Hand", cursive;
  text-transform: uppercase;
  &__box {
    background: linear-gradient(180deg, #201841 0%, #2C205D 100%);
    display: flex;
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 80px;
    }
    &-text {
      font-size: 34px;
      line-height: 30px;
      letter-spacing: 0.05em;
      margin: 0;
    }
    &-title {
      font-size: 38px;
      line-height: 44px;
      letter-spacing: 0.05em;
      color: #C2E978;
      margin: 0;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 70px;
    &-link {
      transition: fill 0.3s ease;
      fill: #C2E978;
      &:hover {
        fill: #fff;
      }
    }
  }
  &__text {
    text-align: center;
    padding-top: 80px;
    margin: 0;
    font-size: 17px;
    line-height: 21px;  
    letter-spacing: 0.05em;
  }
}